<div class="my-profile-container">
    <div class="row">
        <div class="pic">
            <responsive-header targetText="Sandeep Kumar Patel">
            </responsive-header>
            <responsive-image
                    imagesrc="http://www.gravatar.com/avatar/4205261332ff131e971b48db31dcb528.png"
                    imagealt="profile">
            </responsive-image>
        </div>
    </div>
    <div class="row">
        <div class="about">
            <button class="btn" ng-model="professional"
                    ng-click="getDetail($event)"
                    ng-class="{'selected':selected}"
                    ng-disabled="selected">
                Professional
            </button>
            <button class="btn" ng-model="personal"
                    ng-click="getDetail($event)"
                    ng-disabled="!selected"
                    ng-class="{'selected':!selected}">
                Personal
            </button>
        </div>
    </div>
    <div class="row">
        <div class="display">
            <div class="detailProfessional" ng-show="selected">
                <responsive-paragraph targetPara="{{professional.aboutme}}">
                </responsive-paragraph>
                <div class="section">
                    <div class="divider">
                        <responsive-header targetText="Experience">
                        </responsive-header>
                        <responsive-text targetText="{{professional.years}}">
                        </responsive-text>
                        <responsive-header targetText="Job Roles">
                        </responsive-header>
                        <responsive-list targetlist="professional.roles">
                        </responsive-list>
                        <responsive-header targetText="Languages Known">
                        </responsive-header>
                        <responsive-list targetlist="professional.languages">
                        </responsive-list>
                    </div>
                    <div class="divider">
                        <responsive-header targetText="Web Technologies">
                        </responsive-header>
                        <responsive-list targetlist="professional.webdevelopment">
                        </responsive-list>
                        <responsive-header targetText="Tools">
                        </responsive-header>
                        <responsive-list targetlist="professional.tools">
                        </responsive-list>
                    </div>
                </div>
            </div>
            <div class="detailPersonal" ng-show="!selected">
                <div class="section">
                    <div class="divider">
                        <responsive-header targetText="Full Name">
                        </responsive-header>
                        <responsive-text targetText="{{personal.name}}">
                        </responsive-text>
                        <responsive-header targetText="Spouse Name">
                        </responsive-header>
                        <responsive-text targetText="{{personal.spouse}}">
                        </responsive-text>
                        <responsive-header targetText="Father Name">
                        </responsive-header>
                        <responsive-text targetText="{{personal.father}}">
                        </responsive-text>
                        <responsive-header targetText="Mother Name">
                        </responsive-header>
                        <responsive-text targetText="{{personal.mother}}">
                        </responsive-text>
                        <responsive-header targetText="Blood Group">
                        </responsive-header>
                        <responsive-text targetText="{{personal.bloodGroup}}">
                        </responsive-text>
                        <responsive-header targetText="Height">
                        </responsive-header>
                        <responsive-text targetText="{{personal.height}}">
                        </responsive-text>
                    </div>
                    <div class="divider">
                        <responsive-header targetText="Weight">
                        </responsive-header>
                        <responsive-text targetText="{{personal.weight}}">
                        </responsive-text>
                        <responsive-header targetText="Chest">
                        </responsive-header>
                        <responsive-text targetText="{{personal.chest}}">
                        </responsive-text>
                        <responsive-header targetText="Address">
                        </responsive-header>
                        <responsive-text targetText="{{personal.address}}">
                        </responsive-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer">
            <a ng-href='{{professional.social.twitter}}' class='symbol' title='&#xe286;'></a>
            <a ng-href='{{professional.social.facebook}}' class='symbol' title='&#xe227;'></a>
            <a ng-href='{{professional.social.linkedin}}' class='symbol' title='&#xe252;'></a>
            <a ng-href='{{professional.social.googleplus}}' class='symbol' title='&#xe239;'></a>
        </div>
    </div>
</div>